@import url('https://fonts.google.com/specimen/Lexend+Deca');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

body{
    background-color: hsl(0, 0%, 95%);
    width: 375px;
   
   
}
div.Principal{ 
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
div.coluna1{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    
}
div.coluna2{
    background-color: hsl(184, 100%, 22%);
    width: 100%;
    
    
}
div.coluna3{
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 100%;
    
}
p{
    font-size: 20px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca, sans-serif;
    font-weight: 400;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 40px;
    line-height: 40px;
    
    
}
h1{
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 45px;
    color: hsl(0, 0%, 95%);
    font-family: Big Shoulders Display, cursive;
    font-weight: 700;   
    font-size: 50px;
}
button{
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 10px;
    background-color: hsl(0, 0%, 95%);
    border: 3px solid white;
    height: 65px;
    line-height: 30px;
    padding: 0 55px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    font-family: Lexend Deca, sans-serif;
    font-weight: 400;
}
img{
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 65px;
    margin-bottom: 10px;
    width: 22%;
    height: 50%;
}
.botao1{
    color: hsl(31, 77%, 52%) ; 
}
.botao2{
    color: hsl(184, 100%, 22%);
}
.botao3{
    color: hsl(179, 100%, 13%) ;
}

button:hover{
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}
